:root {
  --primary: #F2D0A4;
  --secondary: #FFECCC;
  --orange-ligth: #FFF9EF;
  --green: #C8D6AF;
  --black: #000000;
  --white: #FFFFFF;

  --content: 1200px;
  --spartan-font: 'League Spartan', sans-serif;
  --lato-font: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: var(--content);
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.035rem;
  text-align: center;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

body {
  font-family: var(--spartan-font);;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* HEADER */
.header {
  width: 100%;
  /* background-color: var(--secondary); */
}

.header > .container {
  width: 100%;
  height: 44px;
  margin: 0 auto;
  max-width: var(--content);
  padding: 0 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
}

.logo img {
  height: 1.6875rem;
}

.social {
  display: none;
}

.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  width: 1rem;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .header > .container {
    height: 96px;
  }

  .nav {
    width: 40%;
    display: flex;
    gap: 1rem;
  }

  .nav a {
    color: var(--black);
    font-size: .875rem;
    line-height: 1.035rem;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
  }

  .logo {
    justify-content: center;
    width: 30%;
  }

  .logo img {
    height: 2.625rem;
  }

  .social {
    width: 40%;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: end;
  }
  
  .social li {
    list-style: none;
  }

  .menu-mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav {
    gap: 1.5rem;
  }

  .nav a {
    font-size: 1.125rem;
  }

  .logo img {
    height: 3.125rem;
  }
}

/* MAIN */
/* .main {
  width: 100%;
  height: 500px;
  background-color: gray;
} */

/* HERO */
.hero {
  width: 100%;
  background-color: var(--orange-ligth);
}

.hero > .container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: .875rem 1.875rem;
}

.information {
  order: 2;
  width: 100%;
  margin-top: 2rem;
}

.information h1 {
  height: 3.375rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
}

.information h1 span {
  color: var(--primary);
  padding: .25rem;
  background-color: var(--secondary);
}

.information h4 {
  font-size: .75rem;
  font-family: var(--lato-font);
  margin: 1rem 0;
}

.information p {
  width: 100%;
  max-width: 30.5625rem;
  font-size: .75rem;
  line-height: .9rem;
  font-family: var(--lato-font);
  margin: 0;
}

.image {
  order: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image .image-content {
  margin: .875rem 0 0 0;
}

.image .image-content img {
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .hero > .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .information {
    order: 1;
  }

  .image {
    order: 2;
  }
}

/* SKILL */
.skills {
  width: 100%;
}

.skills .container {
  padding: 1.25rem 1.875rem 3.125rem 1.875rem;
}

.title-content {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline {
  display: block;
  width: 7.5rem;
  height: .3125rem;
  border-radius: .3125rem;
  background-color: var(--green);
}

.programs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  max-width: 14.3125rem;
  padding: 0;
  list-style: none;
  margin: 1.25rem auto;
}

.studies {
  width: inherit;
  text-align: center;
  margin-top: 1.25rem;
}

.studies h3 {
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.studies p {
  font-size: .75rem;
  line-height: .9rem;
  font-family: var(--lato-font);
}

/* PROJECTS */
.projects {
  width: 100%;
  height: 16.25rem;
  background-color: var(--orange-ligth);
  position: relative;
}

.projects .container {
  display: flex;
  justify-content: center;
  padding: .875rem 1.875rem;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.125rem;
  height: 5.5rem;
  border-radius: 50%;
  top: -35px;
  position: absolute;
  background-color: var(--orange-ligth);
}